.distribution--wrapper {
  min-height: 100vh;
  height: max-content;
}

.publish--container {
  background: rgb(13, 31, 112);
  background: linear-gradient(
    90deg,
    rgba(13, 31, 112, 1) 0%,
    rgba(43, 4, 130, 1) 53%,
    rgba(84, 6, 145, 1) 100%
  );
}

.goals--container {
  flex-wrap: wrap;
}

.goals--card {
  flex-basis: 100%;
}

/* Services */
.services--comp {
  border-radius: 10px;
  border: 1px solid #707171;
}
.services--comp:nth-child(1) {
  background: linear-gradient(
    to right,
    #160479 10%,
    transparent 70%,
    transparent
  );
}
.services--comp:nth-child(2) {
  background: linear-gradient(
    to right,
    #071e85 10%,
    transparent 70%,
    transparent
  );
}

@media Screen and (min-width: 1024px) {
  .goals--card {
    flex-basis: 33%;
  }
}
