.games--grid--container {
    padding: 1rem 8px;
    gap: 2.5rem;
    height: auto;
    justify-content: center;
}

.games--grid--container .sale--slide {
    position: relative;
    height: 90px;
    width: 90%;
    margin: 0 auto;
    padding: 3px;
    overflow: hidden;
    text-align: left;
}

.games--grid--container .sale--slide .item--img {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games--grid--container .sale--slide .item--img>img {
    height: 55%;
    width: fit-content;
    object-fit: cover;
    border-radius: 5px;
}

.games--grid--container .sale--slide .game--info {
    font-size: clamp(11px, 3vw, 15px);
    white-space: nowrap;
    justify-content: center;
}

.game--info .price--container {
    font-size: clamp(10px, 2.5vw, 13px);
}

.game--info .price--container .discount {
    padding: 3px 8px;
    font-size: .7rem;
}

#game--top {
    border-right: 1px solid #ccc;
}

#game--most {
    border-right: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
    .games--grid--container .sale--slide {
        width: 95%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1300px) {
    .games--grid--container .sale--slide {
        width: 95%;
        justify-content: space-evenly;
    }
}