.games--grid--container {
  padding: 1rem 8px;
  gap: 2rem;
  height: auto;
  justify-content: center;
}

.grid--swiper {
  --swiper-pagination-color: #ffffff;
  --swiper-pagination-bullet-inactive-color: #8c8d8a;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
  --swiper-pagination-progressbar-size: 10px;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-top: 95%;
}

.games--grid--container .sale--slide {
  height: 120px;
  width: 90%;
  margin: 0 auto;
  padding: 3px;
  overflow: hidden;
  text-align: left;
}

.games--grid--container .sale--slide .item--img {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games--grid--container .sale--slide .item--img > img {
  height: 100%;
  width: 80%;
  object-fit: cover;
  border-radius: 5px;
}
.games--header {
  white-space: nowrap;
  font-size: clamp(9px, 4vw, 14px);
}

.games--grid--container .sale--slide .game--info {
  font-size: clamp(11px, 3vw, 15px);
  white-space: nowrap;
  justify-content: center;
}

.game--info .price--container {
  font-size: clamp(10px, 2.5vw, 13px);
}

.game--info .price--container .discount {
  padding: 3px 8px;
  font-size: 0.7rem;
}

#game--top {
  border-right: 1px solid #ccc;
}

#game--most {
  border-right: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
  .games--grid--container .sale--slide {
    width: 95%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1300px) {
  .games--grid--container .sale--slide {
    width: 95%;
    justify-content: space-evenly;
  }
}
